<!DOCTYPE html>
<html>
  <head>
    <title>Aorta Social Art Gallery | Pisa</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <meta property="fb:app_id" content="3890156857976838">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://aortagallery.com/">
    <meta property="og:title" content="Aorta Social Art Gallery">
    <meta property="og:description" content="Aorta Social Art Gallery is a young and aspiring online gallery of contemporary art.">
    <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/roots-a7a88.appspot.com/o/admin%2FIMG_5964.JPG?alt=media&token=8dd0bf48-29a6-4543-a178-aeeb53e2da9d">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">

    <script src="https://js.stripe.com/v3/"></script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "ArtGallery",
        "name": "Aorta Social Art Gallery",
        "url": "https://aortagallery.com",
        "logo": "https://firebasestorage.googleapis.com/v0/b/roots-a7a88.appspot.com/o/admin%2FIMG_5964.JPG?alt=media&token=8dd0bf48-29a6-4543-a178-aeeb53e2da9d",
        "image": "https://firebasestorage.googleapis.com/v0/b/roots-a7a88.appspot.com/o/admin%2FIMG_5964.JPG?alt=media&token=8dd0bf48-29a6-4543-a178-aeeb53e2da9d",
        "description": "Aorta Social Art Gallery is a young and aspiring online gallery of contemporary art.",
        "address": {
          "@type": "PostalAddress",
          "postalCode": "56125",
          "addressLocality": "Pisa",
          "addressCountry": "IT",
          "streetAddress": "Corso Italia 146"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 43.7117760654017,
          "longitude": 10.399556980989269
        },
        "openingHoursSpecification": [
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "opens": "12:00",
            "closes": "20:00"
          }
        ],
        "sameAs": [
          "https://www.facebook.com/profile.php?id=100088816940231",
          "https://www.instagram.com/aorta.socialartgallery/"
        ]
      }
    </script>
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
